DATABASE_URL=postgresql://usuario:password@localhost:5432/nombre_base_datos
SECRET_KEY=coloca_una_clave_secreta
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
RESEND_API_KEY=coloca_tu_api_key_de_resend
EMAIL_FROM=Sistema Anemia <correo_verificado@tudominio.com>
FRONTEND_URL=http://localhost:5173