# Entorno virtual
venv/
env/
.venv/

# Variables de entorno
.env

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Base de datos local
*.db
*.sqlite3

# Archivos temporales
*.tmp
*.bak

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Alembic cache si luego usas migraciones
alembic/__pycache__/